/* REMOVE THIS */
* {
  box-sizing: border-box;
}

div {
  display: flex;
  gap: 20px;
}

/* ========================= */

/* Main button */
.btn {
  outline: none;
  padding: 12px 52px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  background-color: #1f83ff;
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
}

.btn:hover {
  background-color: #4d9cff;
}

.btn:active {
  background-color: #085fca;
}

.btn:disabled {
  background-color: #e6e6e6;
}

/* Secondary button */
.btn--secondary {
  color: #1f83ff;
  border: 2px #1f83ff solid;
}

.btn--secondary:hover {
  color: #4d9cff;
  border: 2px #4d9cff solid;
}

.btn--secondary:active {
  color: #085fca;
  border: 2px #085fca solid;
}

.btn--secondary:disabled {
  color: #e6e6e6;
  border: 2px #e6e6e6 solid;
}

/* Display */
.display__flex {
  display: flex;
}

.align-items__center {
  align-items: center;
}

.gap__8px {
  gap: 8px;
}
