/* Main button */
.btn {
  outline: none;
  padding: 12px 52px;
  border-radius: 10px;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--color-blue);
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: var(--color-blue-light);
  }

  &:active {
    background-color: var(--color-blue-dark);
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

/* Secondary button */
.btn--secondary {
  background-color: transparent;
  color: #1f83ff;
  border-width: 2px;
  border-color: currentColor;
  border-style: solid;

  &:hover {
    color: var(--color-blue-light);
    background-color: white;
  }

  &:active {
    color: var(--color-blue-dark);
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.btn--disabled,
[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn--no-border {
  border: none;
}
