/* REMOVE THIS */
* {
  box-sizing: border-box;
}

div {
  display: flex;
  gap: 20px;
}

/* ========================= */

/* Main button */
.btn {
  outline: none;
  padding: 12px 52px;
  border-radius: 10px;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: #1f83ff;
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #4d9cff;
  }

  &:active {
    background-color: #085fca;
  }
}

/* Secondary button */
.btn--secondary {
  background-color: transparent;
  color: #1f83ff;
  border-width: 2px;
  border-color: currentColor;
  border-style: solid;

  &:hover {
    color: #4d9cff;
    background-color: white;
  }

  &:active {
    color: #085fca;
  }
}

.btn--disabled,
[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn--no-border {
  border: none;
}

/* Display */
.display__flex {
  display: flex;
}

.align-items__center {
  align-items: center;
}

.gap__8px {
  gap: 8px;
}
